


<?php echo $this->doctype() ?>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Zend Framework Quickstart Application</title>
   <link rel="stylesheet" type="text/css" href="css/style.css" />
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
</head>
<body>
    <?php echo $this->render('header.phtml') ?>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="header" style="background-color: #EEEEEE; height: 50px;">
                    <h1>From Layout</h1>
                    <!-- <?php echo $this->layout()->content; ?> -->
                    <div id="header-logo" style="float: left">
                        <b>This is a test</b>
                    </div>
                    <div id="header-navigation" style="float: right">
                        <a class="guestbook" 
                        href="<?php echo $this->url(
                            array(
                                'controller'=>'guestbook'
                            ),
                            'default',
                            true) ?>">Guestbook</a>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-8 offset-3">
                    <div id="banner">
                        <img src="image/bg.png" alt="">
                    </div>
                     <a href="
                     <?php echo $this->url(
                        array(
                            'controller' => 'index',
                           
                        ),
                        'default',
                        true) ?>">hihi</a>
                </div>
            </div>
        </div>
        <?php echo $this->layout()->content;?>

    </div>
    <?php echo $this->render('footer.phtml') ?>
</body>
</html>